.color-div {
  position: absolute;
  z-index: 12;
  left: 228px;
  top: 100px;
  background: rgba(31, 31, 31, 0.95);
  height: 256px;
  width: 256px;
  cursor: default;
  display: inline;
  text-align: center;
  border-right: 1px solid rgba(42,42,42,1.0);
  border-left: 1px solid rgba(42,42,42,1.0);
  border-top: 1px solid rgba(42,42,42,1.0);
  border-bottom: 1px solid rgba(42,42,42,1.0);
}

.color-pick {
  position: absolute;
  background: rgba(128, 128, 128, 0.95);
  cursor: default;
  display: inline;
  text-align: center;
  border-right: 1px solid rgba(42,42,42,1.0);
  border-left: 1px solid rgba(42,42,42,1.0);
  border-top: 1px solid rgba(42,42,42,1.0);
  border-bottom: 1px solid rgba(42,42,42,1.0);
}

.color-lever {
  position: absolute;
  background: rgba(128, 128, 128, 0.95);
  cursor: default;
  display: inline;
  text-align: center;
  border-right: 1px solid rgba(42,42,42,1.0);
  border-left: 1px solid rgba(42,42,42,1.0);
  border-top: 1px solid rgba(42,42,42,1.0);
  border-bottom: 1px solid rgba(42,42,42,1.0);
}

.color-txt {
  position: absolute;
  background: rgba(128, 128, 128, 0.95);
  cursor: default;
  display: inline;
  text-align: center;
  border-right: 1px solid rgba(42,42,42,1.0);
  border-left: 1px solid rgba(42,42,42,1.0);
  border-top: 1px solid rgba(42,42,42,1.0);
  border-bottom: 1px solid rgba(42,42,42,1.0);
}